> import "_macros.j2" as macros <
# Entities

This document describes the entity semantic conventions.

> for grouped_entities in ctx <
## Namespace: `{{ grouped_entities.root_namespace }}`

> for entity in grouped_entities.entities | sort(attribute="id") <
### `{{ entity.id }}`

{{ entity.brief | default("") | trim }}

> if entity.note <
{{ entity.note | trim }}

> endif <
| Property | Value |
|----------|-------|
> if entity.stability <
| Stability | {{ entity.stability | capitalize }} |
> endif <
> if entity.deprecated <
| Deprecated | {{ entity.deprecated.note }} |
> endif <

> if entity.attributes <
#### Attributes

| Attribute | Type | Role | Requirement Level | Example | Description |
|-----------|------|------|-------------------|---------|-------------|
> for attr in entity.attributes | attribute_sort <
| `{{ attr.name }}` | {{ macros.attribute_type(attr) }} | {{ attr.role | capitalize }} | {{ macros.requirement_level(attr.requirement_level) }} | `{{ attr.examples }}` | {{ macros.attribute_description(attr) }} |
> endfor <

> endif <
> endfor <
> endfor <
